.logo {
    display: flex;
    align-items: center;
    gap:$space-1;
    text-align: start;

    .img {
        width: 2rem;
        border-radius: $radius-md;
    }

    .itemsFlex {
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .clinicName {
        font-size: $font-2xl;
        font-family: $font-primary;
        color: currentColor;
        // font-weight: 00;
        line-height: 1.1;
        letter-spacing: 3px;

        @include for-tablet(){
            display: block;
        }
    }

    .secondName {
        display: none;
        font-size: 10px;
        letter-spacing: 1px;
        color: currentColor;
        font-weight: 600;

        @include for-tablet(){
            display: block;
        }
    }
}
