.topSection {
	display: flex;
	align-items: center;
	gap: $space-1;
	width: fit-content;
	margin-bottom: $space-2;
}

.text {
	font-size: 12px;
	letter-spacing: 4px;
	font-weight: 500;
	// color: $foreground-muted;
	color: $color-primary;
}

