.title {
    &::after {
        content:' movimiento humano';
        display: block;
        font-style: italic;
        color: $foreground-muted;
    }
}

.text {
    max-width: 580px;
    color: $foreground;
    font-size: $font-lg;
}

.container {
    width: 100%;
    @include for-tablet(){
        width: 60%;
    }
}

.ctas {
    margin-top: $space-6;
    display: flex;
    flex-direction: column;
    gap: $space-1;
    align-items: start;

    @include for-tablet(){
        flex-direction: row;
    }
}