.container {
    width: 100%;
}

.title {
    color: $primary-foreground;
    &::after {
        content:' el equilibrio';
        display: block;
        font-style: italic;
        color: $foreground-muted;
    }
}

.items {
    margin-top: $space-8;

    @include for-tablet(){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $space-4;
    }
}

.item {
    border-top: 1px solid $color-border;
    padding: $space-4 0;
    display: flex;
    transition: $transition;
    flex-direction: column;

    &:hover {
        .image {
            transform: scale(1.03);
        }

        .itemTitle {
            color: $color-primary;
        }
    }
}

.itemTitle {
    margin-top: $space-1;
    font-size: $font-2xl;
    color: $primary-foreground;
}

.description {
    margin-top: $space-2;
}

.media {
    margin-bottom: $space-1;
    overflow: hidden;
}

.image {
    width: 600px;
    max-height: 330px;
    object-fit: cover;
    transition: $transition;

    @include for-tablet(){
        margin: 0;
    }

}