.title {
    color: $foreground;
    &::after {
        content: ' recuperacion';
        font-style: italic;
        color: $foreground-muted;
    }
}

.text {
    margin-bottom: $space-2;
    color: $foreground;
}

.content {
    flex: 1;
}

.media {
    flex: 1;
}

.image {
    width: 100%;
    margin-bottom: $space-2;
    
    @include for-tablet(){
        // flex: 1;
        max-width: 600px;
        height: 380px;
        object-fit: cover;
    }
}

.items {
    padding: $space-4 0;
    border-top: 1px solid $color-border;
}