// 1. Keyframes al inicio (o en un archivo global de animaciones)
@keyframes headerScroll {
  from {
    color: $white; // Te conviene usar tu variable si tenés una
    background-color: transparent;
    // box-shadow: 0 0 0 transparent;
    backdrop-filter: blur(2px);
  }
  to {
    color: $primary-foreground;
    background-color: $bg-soft;
    box-shadow: $shadow-soft;
    backdrop-filter: blur(10px);
  }
}

// 2. Bloque Principal del Header
.header {
  // Posicionamiento y Layout
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  padding: $space-2;
  color: $white;

  // Scroll Animation Driven
  animation: headerScroll linear both;
  animation-timeline: scroll();
  animation-range: 0 20rem;

  // --- Elementos Hijos ---

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }

  .link {
    color: currentColor;
  }

  .nav {
    max-height: 0;
    overflow: hidden;
    color: currentColor;
    font-size: $font-sm;

    @include for-tablet() {
      display: flex;
      align-items: center;
      gap: $space-3;
      max-height: none; // Nota: 'none' es mejor que 'auto' para max-height en CSS
      overflow: visible;
    }
  }

  .navOpen {
    position: absolute;
    top: 3.9rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-4;
    width: 100%;
    max-height: 500px;
    padding: 2rem 0;

    // cambiar en ser necesario
    color: $primary-foreground;
    
    background-color: $bg-soft;
    border-bottom: 1px solid $color-border;
    transition: $transition;
  }

  .cta {
    display: none;

    @include for-tablet() {
      display: block;
    }
  }

  .ctaMobile {
    @include for-tablet() {
      display: none;
    }
  }

  .burger {
    color: currentColor;

    @include for-tablet() {
      display: none;
    }

    .icon {
      width: 1.7rem;
      height: 1.7rem;
    }
  }
}