.title {
    color: $primary-foreground;
    &::after {
        content: ' recuperación';
        font-style: italic;
        color: $foreground-muted;
        display: block;
    }
}

.container {
    width: 100%;
}

.header {
    margin-bottom: $space-6;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    @include for-tablet(){
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $space-6;
        // flex-direction: row;
    }
}